<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Laptop Here - Login</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link rel="stylesheet"
          type="text/css"
          href=" {%static 'super_admin/css/sb-admin-2.min.css'%} "/>
    <script src="{%static 'super_admin/vendor/jquery/jquery.min.js'%}"></script>
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="https://cdn.mos.cms.futurecdn.net/6t8Zh249QiFmVnkQdCCtHK.jpg"
                                 width="920px"/>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 bg-white m-5 rounded">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control form-control-user"
                                           id="username"
                                           aria-describedby="emailHelp"
                                           placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                    <input type="password"
                                           class="form-control form-control-user"
                                           id="password"
                                           placeholder="Password"/>
                                </div>
                                <span class="text-danger" id="error"></span>
                                <button type="button"
                                        id="login"
                                        class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="{%static 'super_admin/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<script type="text/javascript">
      $("#login").click(function () {
        var userData = {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          username: $("#username").val(),
          password: $("#password").val(),
        };
        if (userData.username == "") {
          console.log("username blank");
          $("#error").html("Please enter username");
        } else if (userData.password == "") {
          $("#error").html("Please enter password");
        } else {
          $.ajax({
            url: "/admin/login/",
            type: "POST",
            data: userData,
            dataType: "json",
            success: function (data) {
              if (data == "valid") 
                window.location.replace("/admin/options/");
              if (data == "invalid") {
                $("#error").html("invalid username/password");
                $("#password").val("");
              }
            },
          });
        }
      });







</script>
</body>
</html>
