{% extends 'home/base.html' %}

{% block title %}Laptops Here - Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center text-center">
    <div class="bg-white p-5 login-card">
        <div class="form-group">
            <input type="text" id="username" placeholder="Username" class="form-control"><br>
        </div>
        <div class="form-group">
            <input type="password" id="password" placeholder="Password" class="form-control"><br>
        </div>
        <span class="text-danger" id="error"></span><br>
        <button onclick="login()" class="btn btn-primary">Login In</button><br>
        <a href="{% url 'user_signup' %}">Create new account</a>
    </div>
</div>
<script>
    function login() {
        var data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            username: $('#username').val(),
            password: $('#password').val()
        }
        if (data.username == ''){
            $('#invalid').html('Please enter username')
        } else if (data.password == ''){
            $('#invalid').html('Please enter password')
        }
        else{
            $.ajax({
                url : '/login/',
                type: "POST",
                data : data,
                dataType : "json",
                success: function( body ){
                    if(body.status == 'valid')
                        window.location.replace("/")
                    if(body.status == 'invalid'){
                        $('#error').html('Invalid Username/Password')
                        $('#password').val('')
                    }
                }
            });
        }
    };
</script>
{% endblock %}