{% extends 'home/base.html' %}

{% block title %}Laptops Here - Profile{% endblock %}

{% block content %}
<div class="p-5 bg-white">
    <h1>{{request.user.first_name}}</h1>
    <div class="row mt-4">
        <div class="col-md-3">
            <h4>Username:</h4>
            <h4>Email:</h4>
        </div>
        <div class="col-md-6">
            <h4>{{request.user.username}}</h4>
            <h4>{{request.user.email}}</h4>
        </div>
        <a href="{% url 'user_address' %}">Manage address</a>
    </div>
</div>
{% endblock %}